In [1]:
import pandas as pd
import numpy as np
import glob

/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
mgf_tab = pd.read_csv('/Volumes/MSSHARE/Joonyong/mgf_list_v3.log', sep='\t')
mgf_tab[mgf_tab.id>234]

,id,mgf_file,num_scans,total_scans,species,num_peptides,total_peptides
235,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,17998,5175721,Enterococcus_faecalis,16181,4620721
236,236,Alverdy_Efae_1B_lys_13Jul13_Pippin_12-12-39,17718,5193439,Enterococcus_faecalis,16055,4636776
237,237,Alverdy_Efae_1C_lys_13Jul13_Pippin_12-12-39,17712,5211151,Enterococcus_faecalis,15814,4652590
238,238,Biodiversity_A_muciniphila_test_27Feb17_Pippin...,24742,5235893,Akkermansia_muciniphila_ATCC_BAA-835,21214,4673804
239,239,Ha_150NaCl_1_13_QE_12Aug15_Arwen_14-12-03,32684,5268577,Halanaerobium_congolense,27902,4701706
240,240,Ha_150NaCl_2_14_QE_12Aug15_Arwen_14-12-03,34687,5303264,Halanaerobium_congolense,29961,4731667
241,241,Ha_150NaCl_3_15_QE_12Aug15_Arwen_14-12-03,32408,5335672,Halanaerobium_congolense,27892,4759559
242,242,Ha_200NaCl_1_22_QE_21Jan16_Arwen_15-07-13,35048,5370720,Halanaerobium_congolense,29705,4789264
243,243,Ha_200NaCl_2_23_QE_21Jan16_Arwen_15-07-13,34242,5404962,Halanaerobium_congolense,28807,4818071
244,244,Ha_200NaCl_3_24_QE_21Jan16_Arwen_15-07-13,35132,5440094,Halanaerobium_congolense,29544,4847615
245,245,Ha_250NaCl_1_16_QE_12Aug15_Arwen_14-12-03,19111,5459205,Halanaerobium_congolense,15326,4862941
246,246,Ha_250NaCl_2_17_QE_12Aug15_Arwen_14-12-03,23341,5482546,Halanaerobium_congolense,19355,4882296
247,247,Ha_250NaCl_3_18_QE_12Aug15_Arwen_14-12-03,25090,5507636,Halanaerobium_congolense,22461,4904757
248,248,YJ_Cc_WT1_C_P_9Jan17_Pippin_16-09-11,26569,5534205,Caulobacter_crescentus_NA1000,22820,4927577
249,249,YJ_Cc_WT1_IM_P_9Jan17_Pippin_16-09-11,22557,5556762,Caulobacter_crescentus_NA1000,19081,4946658
250,250,YJ_Cc_WT1_OM_P_9Jan17_Pippin_16-09-11,29444,5586206,Caulobacter_crescentus_NA1000,26060,4972718
251,251,YJ_Cc_WT1_P_Prot_9Jan17_Pippin_16-09-11,25166,5611372,Caulobacter_crescentus_NA1000,21323,4994041
252,252,YJ_Cc_WT1_WC_P_9Jan17_Pippin_16-09-11,21603,5632975,Caulobacter_crescentus_NA1000,17975,5012016
253,253,YJ_Cc_WT2_C_P_9Jan17_Pippin_16-09-11,26333,5659308,Caulobacter_crescentus_NA1000,22620,5034636
254,254,YJ_Cc_WT2_IM_P_9Jan17_Pippin_16-09-11,23543,5682851,Caulobacter_crescentus_NA1000,19881,5054517
255,255,YJ_Cc_WT2_OM_P_9Jan17_Pippin_16-09-11,24334,5707185,Caulobacter_crescentus_NA1000,20632,5075149
256,256,YJ_Cc_WT2_P_Prot_9Jan17_Pippin_16-09-11,28205,5735390,Caulobacter_crescentus_NA1000,24577,5099726
257,257,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11,20834,5756224,Caulobacter_crescentus_NA1000,16579,5116305

In [5]:
result_files = glob.glob("*_Novor.csv")

In [31]:
fname = f.rsplit('_', 1)[0]
fileid = mgf_tab[mgf_tab.mgf_file==fname].id.tolist()[0]
temp = pd.read_csv(f, skiprows=20, skipinitialspace=True)[["# id","peptide"]]
temp['scan'] = str(fileid) + ":" + temp['# id'].apply(str)

In [43]:
df_list = []

for f in result_files:
    fname = f.rsplit('_', 1)[0]
    fileid = mgf_tab[mgf_tab.mgf_file==fname].id.tolist()[0]
    temp = pd.read_csv(f, skiprows=20, skipinitialspace=True)[["# id","peptide"]]
    # temp['scan'] = str(fileid) + ":" + temp['# id'].apply(str)
    temp['fileid'] = fileid
    df_list.append(temp)
    print(df_list[-1].shape)
df = pd.concat(df_list, ignore_index=True)
print(df.shape)

(30516, 3)
(31010, 3)
(29966, 3)
(40670, 3)
(46540, 3)
(48886, 3)
(46526, 3)
(50395, 3)
(49705, 3)
(50331, 3)
(40831, 3)
(44332, 3)
(43032, 3)
(41777, 3)
(38312, 3)
(41866, 3)
(41965, 3)
(41351, 3)
(40999, 3)
(38206, 3)
(41222, 3)
(41452, 3)
(41226, 3)
(961116, 3)

In [44]:
df.head()

   # id       peptide  fileid
0     2        KKKKKR     235
1     3       FLPPAPK     235
2     4       ELVLVPR     235
3     5        KKKKKK     235
4     7  EHEECCCCCWDR     235

In [45]:
df['pepseq'] = df.peptide.str.replace("\(O\)", "M(+15.99)")

In [46]:
def parse(raw_sequence):
    try:
        raw_sequence_len = len(raw_sequence)
    except:
        return ""

    peptide = []
    index = 0
    while index < raw_sequence_len:
        if raw_sequence[index] == "(":
            if peptide[-1] == "C" and raw_sequence[index:index+8] == "(+57.02)":
                peptide[-1] = "Cmod"
                index += 8
            elif peptide[-1] == 'M' and raw_sequence[index:index+8] == "(+15.99)":
                peptide[-1] = 'Mmod'
                index += 8
            elif peptide[-1] == 'N' and raw_sequence[index:index+6] == "(+.98)":
                peptide[-1] = 'Nmod'
                index += 6
            elif peptide[-1] == 'Q' and raw_sequence[index:index+6] == "(+.98)":
                peptide[-1] = 'Qmod'
                index += 6
            else: # unknown modification
                unknown_modification = True
                break
        else:
            peptide.append(raw_sequence[index])
            index += 1
    return ",".join(peptide)
df['output_seq'] = df.pepseq.apply(parse)

In [55]:
mgforder2scan = pd.read_csv('mgfId2ScanId.txt', sep='\t')
print(mgforder2scan.shape)
mgforder2scan.head()

(964337, 3)

   ScanNum  MGForder                                   MGFDataset
0        6         1  Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
1       14         2  Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
2       15         3  Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
3       17         4  Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
4       18         5  Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39

In [58]:
mgforder2scan_df = mgforder2scan.merge(mgf_tab[["id","mgf_file"]], left_on="MGFDataset", right_on="mgf_file", how="inner")
print(mgforder2scan_df.shape)

(964337, 5)

,ScanNum,MGForder,MGFDataset,id,mgf_file
0,6,1,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
1,14,2,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
2,15,3,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
3,17,4,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
4,18,5,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39

In [61]:
mgforder2scan_df.head(10)

,ScanNum,MGForder,MGFDataset,id,mgf_file
0,6,1,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
1,14,2,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
2,15,3,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
3,17,4,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
4,18,5,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
5,19,6,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
6,24,7,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
7,43,8,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
8,49,9,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39
9,58,10,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39

In [62]:
def findScanId(row):
    return mgforder2scan_df[(mgforder2scan_df.MGForder == row['# id']) & (mgforder2scan_df.id == row.fileid)].ScanNum.tolist()[0]
df['scanid'] = df.apply(findScanId, axis=1)

In [64]:
df[['fileid','output_seq','scanid']].to_csv('novor_result_all.txt', sep='\t', index=False)

# read novor results from the csv file

In [72]:
df = pd.read_csv('novor_result_all.txt', sep='\t')
df['scan'] = df['fileid'].apply(str).str.cat(df['scanid'].apply(str), sep=":")
df.head()

   fileid               output_seq  scanid    scan
0     235              K,K,K,K,K,R      14  235:14
1     235            F,L,P,P,A,P,K      15  235:15
2     235            E,L,V,L,V,P,R      17  235:17
3     235              K,K,K,K,K,K      18  235:18
4     235  E,H,E,E,C,C,C,C,C,W,D,R      24  235:24

In [65]:
df = df[['fileid','output_seq','scanid']].

In [67]:
kaiko_result = pd.read_pickle('/Volumes/MSSHARE/Joonyong/PnnlRun3_235_v4_0001_ep_60/mgf_test/all_results_df.pkl')

In [68]:
kaiko_result_df = kaiko_result[kaiko_result.file_id>234]

In [73]:
df = df.merge(kaiko_result_df[['scan', 'target_seq', 'len_AA']], left_on="scan", right_on="scan", how="right")
df.head()

,fileid,output_seq,scanid,scan,target_seq,len_AA
0,235,"Y,T,F,M,Q,H,K,P,G,K",221,235:221,"V,Mmod,E,A,S,H,H,K,P,G,K",11
1,235,"V,M,Mmod,E,A,S,H,H,K,P,G,K",231,235:231,"V,Mmod,E,A,S,H,H,K,P,G,K",11
2,235,"V,M,E,A,S,H,H,K,P,G,K",334,235:334,"V,M,E,A,S,H,H,K,P,G,K",11
3,235,"T,E,E,A,S,H,H,K,P,G,K",404,235:404,"V,M,E,A,S,H,H,K,P,G,K",11
4,235,"Y,T,R,T,N,N,W,P,G,K",415,235:415,"V,Mmod,E,A,S,H,H,K,P,G,K",11

In [75]:
mass_H = 1.0078
mass_H2O = 18.0106
mass_NH3 = 17.0265
mass_N_terminus = 1.0078
mass_C_terminus = 17.0027
mass_CO = 27.9949

mass_AA = {'_PAD': 0.0,
           '_GO': mass_N_terminus-mass_H,
           '_EOS': mass_C_terminus+mass_H,
           'A': 71.03711, # 0
           'R': 156.10111, # 1
           'N': 114.04293, # 2
           'Nmod': 115.02695,
           'D': 115.02694, # 3
           'C': 103.00919, # 4
           'Cmod': 160.03065, # C(+57.02)
           #~ 'Cmod': 161.01919, # C(+58.01) # orbi
           'E': 129.04259, # 5
           'Q': 128.05858, # 6
           'Qmod': 129.0426,
           'G': 57.02146, # 7
           'H': 137.05891, # 8
           'I': 113.08406, # 9
           'L': 113.08406, # 10
           'K': 128.09496, # 11
           'M': 131.04049, # 12
           'Mmod': 147.0354,
           'F': 147.06841, # 13
           'P': 97.05276, # 14
           'S': 87.03203, # 15
           'T': 101.04768, # 16
           'W': 186.07931, # 17
           'Y': 163.06333, # 18
           'V': 99.06841, # 19
          }

# print(mass_AA)

def get_longest_match_with_novor(output_seq, target_seq, len_AA):
#     if exact_match > 0:
#         return (0, len_AA)
    if (type(output_seq) == float) | (output_seq == ""):
        return (0, 0)
    output = output_seq.split(',')
    decoder_input = target_seq.split(',')
    
    decoder_input_len = len(decoder_input)
    output_len = len(output)
    decoder_input_mass = [mass_AA[x] for x in decoder_input]
    decoder_input_mass_cum = np.cumsum(decoder_input_mass)
    output_mass = [mass_AA[x] for x in output]
    output_mass_cum = np.cumsum(output_mass)
    
    length = min(decoder_input_len, output_len)
    
    num_match = 0
    i = 0
    j = 0
    match_list = [0 for i in range(decoder_input_len)]
    
    while i < decoder_input_len and j < output_len:
        if abs(decoder_input_mass_cum[i] - output_mass_cum[j]) < 0.5:
            if abs(decoder_input_mass[i] - output_mass[j]) < 0.1:
                num_match += 1
                match_list[i] = 1
            i += 1
            j += 1
        elif decoder_input_mass_cum[i] < output_mass_cum[j]:
            i += 1
        else:
            j += 1
    # print('ou tput_seq:', output)
    # print('target_seq:', decoder_input)
    # print(match_list)
    count_list = match_list
    for i in range(length-1):
        if count_list[length - i - 2] == 0:
            count_list[length - i - 2] = 0
        else:
            count_list[length - i - 2] += count_list[length - i - 1]
    # print(count_list)
    max_idx = np.argmax(count_list)
    return (max_idx, count_list[max_idx])
    
# test
print("5. Finding longest subsequences of matching with Novor scoring method")

idx = 2
print(get_longest_match_with_novor(df.output_seq[idx], df.target_seq[idx], df.len_AA[idx]))

df[['longest_match_idx_with_novor', 'longest_match_length_with_novor']] = df.apply(
    lambda row: pd.Series(get_longest_match_with_novor(row['output_seq'], row['target_seq'], row['len_AA']), dtype='int32'), axis=1)

5. Finding longest subsequences of matching with Novor scoring method
(0, 11)

In [76]:
df['exact_match'] = (df.longest_match_length_with_novor==df.len_AA).astype(int)
df.head()

,fileid,output_seq,scanid,scan,target_seq,len_AA,longest_match_idx_with_novor,longest_match_length_with_novor,exact_match
0,235,"Y,T,F,M,Q,H,K,P,G,K",221,235:221,"V,Mmod,E,A,S,H,H,K,P,G,K",11,6,4,0
1,235,"V,M,Mmod,E,A,S,H,H,K,P,G,K",231,235:231,"V,Mmod,E,A,S,H,H,K,P,G,K",11,0,1,0
2,235,"V,M,E,A,S,H,H,K,P,G,K",334,235:334,"V,M,E,A,S,H,H,K,P,G,K",11,0,11,1
3,235,"T,E,E,A,S,H,H,K,P,G,K",404,235:404,"V,M,E,A,S,H,H,K,P,G,K",11,2,9,0
4,235,"Y,T,R,T,N,N,W,P,G,K",415,235:415,"V,Mmod,E,A,S,H,H,K,P,G,K",11,8,2,0

In [77]:
df.exact_match.mean()

0.19693413969302317

In [78]:
df.to_pickle('all_results_from_novor.pkl')

# read pickle

In [2]:
df = pd.read_pickle('all_results_from_novor.pkl')

In [4]:
print(df.exact_match.mean())
print(df.shape)
print(df.target_seq.drop_duplicates().shape)

0.19693413969302317
(511765, 9)
(90048,)

In [ ]:
print(df.target_seq.drop_duplicates().shape)